.bannerContainer {
  background-color: blueviolet;
  margin: 0 auto;
}

.sliderContainer {
  height: 25rem;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  box-sizing: border-box;
  overflow: hidden;
}
