.formWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBox {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.duplicationBox {
  display: flex;
}
