.buttonLink {
  /* width: 100%; */
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* background-color: blue; */
}

.buttonCatgeory {
  /* width: 123px; */
  padding: 1rem 2.1rem;
  background-color: rgb(70, 70, 70);
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
}

.buttonCatgeory:focus {
  border: 2px solid rgb(230, 37, 230);
}
