.button {
  width: 100%;
  padding: 0.8rem;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 0.2rem;
  color: white;
  background-color: var(--color-primary-accent);
}

.button:disabled {
  opacity: 70%;
  background-color: var(--color-primary-accent);
}

.buttonLink {
  /* width: 100%; */
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--color-primary-accent);
  font-weight: 800;
  color: white;
}

.buttonLink:hover {
  background-color: var(--color-primary-accent);
  opacity: 0.85;
}

.buttonCatgeory {
  /* width: 123px; */
  padding: 1rem 2.1rem;
  background-color: transparent;
  font-size: 1rem;
  color: var(--color-primary);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid var(--color-primary);
}

.buttonCatgeory:focus {
  border: 1px solid var(--color-primary-accent);
  color: var(--color-primary-accent);
}
