.container {
  height: 90px;
  margin-top: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  font-weight: 800;
}

.center {
  flex: 1;
  margin-right: 2rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.mealsText {
  font-weight: 700;
}

.foodButton {
  color: var(--color-primary);
}

.foodButton:not(:last-child) {
  /* display: inline-block; */
  margin-right: 1.2rem;
}

.foodButton:hover {
  color: var(--color-primary-accent);
}

@media only screen and (max-width: 600px) {
  .center {
    display: none;
  }
}
