.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  line-height: 1;
  border: 0;
  cursor: pointer;
  color: var(--color-background);
  transition: background 0.25s ease-in-out;
}
