.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0, 0);
}

.formBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputBox {
  margin-top: 40px;
}
