.topContainer {
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
}

.mealImageContainer {
  flex: 1;

  /* min-width: 200px; */
  /* max-width: 600px; */
}

.info {
  /* background-color: violet; */
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.categoryLabel {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 12.8px;
}

.mealName {
  font-size: 30px;
}

.mealInfoListBox {
  display: flex;
  flex-direction: column;
  /* background-color: var(--dark-gray); */
}

.mealInfoList {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.mealInfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;

  /* margin-right: 20px; */
}

.mealInfoItemName {
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--color-primary-accent);
}

.line {
  border-left: 0.2px solid var(--color-primary-accent);
  height: 50px;
}

.mealInfoBtnPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--color-primary-accent);
}

.mealInfoBtnPlay:hover {
  opacity: 0.9;
}

.mealInfoBtnLike {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 0.8rem;
  padding: 10px;
  border: 1px solid var(--color-primary-accent);
  border-radius: 5px;
}

.mealInfoBtnLike:hover {
  color: var(--color-primary-accent);
}

.mealInfoBtnLikeImage {
  color: var(--color-primary-accent);
}

@media only screen and (max-width: 600px) {
  .topContainer {
    flex-direction: column;
  }
  .mealName {
    margin-bottom: 4rem;
  }
}
