:root {
  /* Typography */
  --font-sans: var(--inter-font), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-mono: ui-monospace, "SFMono-Regular", "Consolas", "Liberation Mono",
    "Menlo", monospace;

  /* Light Mode Colors */
  --color-background: #fff;
  --color-primary: #212426;
  --color-primary-black: #212426;
  --color-primary-accent: #ff4f26;
  --color-primary-text: #aaaaaa;
  --color-primary-gray: #9a9a9a;
  --color-primary-darkgray: #909090;
  --color-primary-white: #fff;
}

[data-theme="dark"] {
  --color-background: #212426;
  --color-primary: #fff;
  --color-primary-black: #212426;
  --color-primary-accent: #ff4f26;
  --color-primary-text: #fff;
  --color-primary-gray: #9a9a9a;
  --color-primary-darkgray: #909090;
  --color-primary-white: #fff;
}

* {
  box-sizing: border-box;
}

svg {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 슬라이더 커스터마이징 */

/* .slick-prev,
.slick-next {
  transform: none;
} */

.slick-prev:before,
.slick-next:before {
  font-size: 2rem;
}

/* .slick-slide img {
  position: relative;
  z-index: 0;
} */
