.wrapper {
  width: 100%;
  min-height: 100vh;
}

.bannerContainer {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
}

.foodContainer {
  width: 100%;
  padding-top: 30rem;
  text-align: center;
}
